<!-- ************************************************** -->
<!-- ************************************************** -->
<!-- ************************************************** -->
<div class="container">
  <!-- ***********[ Left Side]*********** -->
  <div class="left-side">
    <aside>
      <ul class="step">
        <!-- <li [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact: true}"> <a  routerLink="" href="">step 1<span>select plan</span></a> </li> -->
        <li [ngClass]="routerLinkStyle_1"> <a>step 1<span>YOUR INFO</span></a> </li>
        <li [ngClass]="routerLinkStyle_2"><a> step 2<span>SELECT PLAN</span> </a></li>
        <li [ngClass]="routerLinkStyle_3"><a>step 3<span>ADD-ONS</span></a> </li>
        <li [ngClass]="routerLinkStyle_4"><a>step 4<span>SUMMARY</span></a> </li>
        <!-- <li [routerLinkActive]="'active'"> <a  routerLink="YourPersonalInfo">step 1<span>select plan</span></a> </li>
        <li [routerLinkActive]="'active'"><a routerLink="YourPlan"> step 2<span>select plan</span> </a></li>
        <li [routerLinkActive]="'active'"><a routerLink="PickAddOns">step 3<span>add-ons</span></a> </li>
        <li [routerLinkActive]="'active'"><a routerLink="SummaryFinishingUp">step 4<span>summary</span></a> </li> -->
      </ul>
    </aside>
  </div>
  <!-- ***********[ Right Sibe]*********** -->
  <div class="right-side">
    <!-- ***********[ Enter Your Information Container ]*********** -->
    <form action="" [formGroup]="reactiveForm" (ngSubmit)="goToNextStep()">
      <div class="your-information">
        <router-outlet></router-outlet>
      </div>
      <!-- ***********[ Next And Back Button ]*********** -->
      <div class="button-container">
        <!-- <button type="submit" class="next" [routerLinkActive]="'active'">Next Step</button> -->
        <button type="submit" class="next" [routerLinkActive]="'active'" (click)="goToNextStep()">Next Step</button>
        <button type="button" class="back" [routerLinkActive]="'active'" (click)="goBackStep()">Go Back</button>
      </div>
    </form>
  </div>
</div>
