<!-- <p>summary-finishing-up works!</p> -->
<h1>Finishing Up</h1>
<p>Double-check everything looks OK before confirming.</p>
<div class="double-check">
  <div class="arcade-div">
    <div class="monthly-yearly">
      <div class="arcade">
        <p>Arcade(<span>Monthly</span> <span>Yearly</span>)</p>
        <a href="">change</a>
      </div>
      <div class="price">
        <div class="price-monthly">$9/mo</div>
        <div class="price-yearly">$90/yr</div>
      </div>
    </div>
    <div class="service-storage">
      <div class="service">
        <p>Online Service</p>
        <div class="price-per-m-y">
          <div class="price-monthly">$1/mo</div>
          <div class="price-yearly">$10/yr</div>
        </div>
      </div>
      <div class="storage">
        <p>Larger Storage </p>
        <div class="price-per-m-y">
          <div class="price-monthly">$2/mo</div>
          <div class="price-yearly">$20/yr</div>
        </div>
      </div>
    </div>
  </div>
  <div class="total-price">
    <div class="total">
      <p>Total(per
      <span>month</span>
      <span>year</span>) </p>
      <div class="price-monthly">$2/mo</div>
      <div class="price-yearly">$20/yr</div>
    </div>
  </div>
</div>
