<!-- <p>pick-add-ons works!</p> -->

<h1>Pick add-ons</h1>
<p>Add-ons help enhance your gaming experience.</p>
<form action="" class="add-ons-container">
  <div class="add-ons">
    <input type="checkbox" name="" id="1" value="" checked/>
    <label for="1">
      <span>Online service</span>
      Access to multiple games.
    </label>
    <strong>+$ 1/mo</strong>
  </div>
  <div class="add-ons">
    <input type="checkbox" name="" id="2" value="" />
    <label for="2">
      <span>Larger storage</span>
      Extra 1TB of cloud save
    </label>
    <strong>+$ 2/mo</strong>
  </div>
  <div class="add-ons">
    <input type="checkbox" name="" id="3" value="" />
    <label for="3">
      <span>Customizable Profile</span>
    </label>
    <strong>+$ 3/mo</strong>
  </div>
</form>
